agate==1.9.1
aiofiles==23.2.1
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
alembic==1.13.3
altair==5.4.0
annotated-types==0.7.0
anthropic==0.37.1
anyio==4.6.2.post1
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asn1crypto==1.5.1
astroid==3.3.5
asttokens==2.4.1
async-lru==2.0.4
attrs==24.2.0
babel==2.16.0
backoff==2.2.1
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.8.2
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
click==8.1.7
cloudpickle==3.1.0
colorama==0.4.6
comm==0.2.2
commander==0.2.3
contourpy==1.3.0
cramjam==2.8.4
cryptography==43.0.3
cycler==0.12.1
daff==1.3.46
databricks-sdk==0.36.0
dataclasses-json==0.6.7
debugpy==1.8.5
decorator==5.1.1
deepdiff==7.0.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.9
dirtyjson==1.0.8
distro==1.9.0
docker==7.1.0
emoji==2.14.0
et-xmlfile==1.1.0
eval_type_backport==0.2.0
executing==2.0.1
fastapi==0.112.1
fastjsonschema==2.20.0
fastparquet==2024.5.0
ffmpy==0.4.0
filelock==3.16.1
filetype==1.2.0
Flask==3.0.3
fonttools==4.54.1
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2024.10.0
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.35.0
gpt4all==2.8.2
gradio_client==1.3.0
graphene==3.4.1
graphql-core==3.2.5
graphql-relay==3.2.0
greenlet==3.1.1
gunicorn==23.0.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.6
httpx==0.27.2
huggingface-hub==0.26.1
idna==3.10
importlib_metadata==8.4.0
importlib_resources==6.4.3
inflection==0.5.1
ipykernel==6.29.5
ipython==8.26.0
ipywidgets==8.1.3
isodate==0.6.1
isoduration==20.11.0
isort==5.13.2
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jiter==0.7.0
joblib==1.4.2
json5==0.9.25
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.11
kiwisolver==1.4.7
langchain==0.2.14
langchain-community==0.2.12
langchain-core==0.2.33
langchain-openai==0.1.22
langchain-text-splitters==0.2.2
langdetect==1.0.9
langsmith==0.1.99
leather==0.4.0
llama-cloud==0.1.4
llama-index==0.11.22
llama-index-agent-openai==0.3.4
llama-index-cli==0.3.1
llama-index-core==0.11.22
llama-index-embeddings-openai==0.2.5
llama-index-indices-managed-llama-cloud==0.4.0
llama-index-legacy==0.9.48.post3
llama-index-llms-openai==0.2.16
llama-index-multi-modal-llms-openai==0.2.3
llama-index-program-openai==0.2.0
llama-index-question-gen-openai==0.2.0
llama-index-readers-file==0.2.2
llama-index-readers-llama-parse==0.3.0
llama-parse==0.5.13
Logbook==1.5.3
lxml==5.3.0
Mako==1.3.6
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.23.1
mashumaro==3.14
matplotlib==3.9.2
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
minimal-snowplow-tracker==0.0.2
MiniSom==2.3.3
mistune==3.0.2
mlflow==2.17.2
mlflow-skinny==2.17.2
more-itertools==10.5.0
msgpack==1.1.0
multidict==6.1.0
mypy==1.11.2
mypy-extensions==1.0.0
narwhals==1.4.2
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
notebook==7.2.1
notebook_shim==0.2.4
numpy==1.26.4
olefile==0.47
openai==1.54.3
openpyxl==3.1.5
opentelemetry-api==1.27.0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
optype==0.6.1
ordered-set==4.1.0
orjson==3.10.7
overrides==7.7.0
packaging==24.1
pandas==2.2.3
pandas-stubs==2.2.2.240909
pandocfilters==1.5.1
parsedatetime==2.6
parso==0.8.4
pathspec==0.12.1
patsy==0.5.6
pdfminer==20191125
pdfminer.six==20240706
pexpect==4.9.0
pillow==11.0.0
platformdirs==4.3.6
plotly==5.24.1
prometheus_client==0.20.0
prompt_toolkit==3.0.47
propcache==0.2.0
protobuf==5.28.3
psutil==6.1.0
psycopg2==2.9.9
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.9.2
pydantic_core==2.23.4
pydeck==0.9.1
pydub==0.25.1
Pygments==2.18.0
PyJWT==2.9.0
pylint==3.3.1
pyOpenSSL==24.2.1
pyparsing==3.2.0
pypdf==4.3.1
PyPDF2==3.0.1
python-dateutil==2.8.2
python-docx==1.1.2
python-dotenv==1.0.1
python-iso639==2024.10.22
python-json-logger==2.0.7
python-jsonschema-objects==0.5.5
python-magic==0.4.27
python-multipart==0.0.9
python-oxmsg==0.0.1
python-slugify==8.0.4
pytimeparse==1.1.8
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.1.0
qtconsole==5.5.2
QtPy==2.4.1
RapidFuzz==3.10.1
referencing==0.35.1
regex==2024.9.11
requests==2.32.3
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.21.0
rsa==4.9
ruff==0.6.1
scikit-learn==1.5.2
scipy==1.14.1
scipy-stubs==1.4.1a3
semantic-version==2.10.0
Send2Trash==1.8.3
shellingham==1.5.4
six==1.16.0
sklearn-preprocessing==0.1.0
smmap==5.0.1
sniffio==1.3.1
snowflake-connector-python==3.12.2
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.36
sqlparse==0.5.1
stack-data==0.6.3
starlette==0.38.2
statsmodels==0.14.3
streamlit==1.40.0
striprtf==0.0.26
tabulate==0.9.0
tenacity==8.5.0
terminado==0.18.0
text-unidecode==1.3
threadpoolctl==3.5.0
tiktoken==0.8.0
tinycss2==1.2.1
tokenizers==0.20.1
toml==0.10.2
tomlkit==0.13.2
toolz==0.12.1
tornado==6.4
tqdm==4.67.0
traitlets==5.14.1
typer==0.12.4
types-jsonschema==4.23.0.20240813
types-psycopg2==2.9.21.20240819
types-python-dateutil==2.8.19.20240106
types-pytz==2024.2.0.20240913
types-tabulate==0.9.0.20240106
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
unstructured==0.16.4
unstructured-client==0.27.0
uri-template==1.3.0
urllib3==2.2.3
uvicorn==0.27.0.post1
validators==0.22.0
wcwidth==0.2.13
webcolors==24.6.0
webencodings==0.5.1
websocket-client==1.7.0
websockets==11.0.3
Werkzeug==3.1.0
widgetsnbextension==4.0.11
wrapt==1.16.0
yamllint==1.35.1
yarl==1.17.1
zipp==3.20.2
